name: Phoenix In warranty Postman API Collection Workflow Tests

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '30 02 * * *'   # 8:00 AM IST Night
    - cron: '00 14 * * *'   # 7:30 PM IST Moring  
    - cron: '30 15 * * *'   # 9:00 PM IST
    - cron: '00 18 * * *'   # 11:30 PM IST 
    - cron: '30 21 * * *'   # 3:00 AM IST (next day)
    - cron: '00 22 * * *'   # 3:30 Am IST early moring 
    - cron: '00 06 * * 1-5' # 11:30 AM IST (Mon–Fri)
    - cron: '00 06 * * 4-5' # 11:30 AM IST (Thu–Fri) – Staging Build

jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Install Node.js and npm
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Newman and HTML Extra globally
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run Postman Collection
        run: |
          newman run 'Main Inwarranty-flow Collection.postman_collection.json' \
            -e QA.postman_environment.json \
            -d testdata.csv \
            -r cli,htmlextra \
            --reporter-htmlextra-export newman/index.html \
            --reporter-htmlextra-showOnlyFails \
            --reporter-htmlextra-omitRequestBodies \
            --reporter-htmlextra-omitResponseBodies
           
            
      - name: Upload Newman Report
        if: always() #ensure that the archive excuted irrespective wheather the previous step has passed or not
        uses: actions/upload-artifact@v4.6.2
        with:
          name: newman-html-report
          path: newman/*.html

      - name : Creating github HTML page branch 
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
           github_token: ${{ secrets.GITHUB_TOKEN }} 
           publish_dir: newman/

      - name: Send email notification
        if: always()
        uses: dawidd6/action-send-mail@v6
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_ADDRESS }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Phoenix Inwarranty Flow Test Execution Notification
          to: ayush.am77@gmail.com, aayushmishra026@gmail.com
          from: Aayush from Github Actions <${{ secrets.EMAIL_ADDRESS }}>
          body: |
                Hello,
                Phoneix inwarrenty flow
                Please find the attached HTML report generated after running the Postman tests via GitHub Actions.
                Link to live report (GitHub Pages): https://aayush-mishraa.github.io/Phoenix-Inwarranty-Flow-API-Tests-/
             
                Regards,
                GitHub Actions
                By AAYUSH MISHRA 
                SDET
         
          
          
         

         
   
